body {
    background-color: #ffffff;
    animation: mymove 5s infinite;
}
    @keyframes mymove {
        from {background-color:#ffffff;}
        to {background-color: #000000;}
}
body .animation .text {
    position: absolute;
}
body .animation p{
    text-align: center;
    color: #111111;
    margin: 0;
    padding: 0;
    display: inline; 
    padding-left: 5px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 50px;
    opacity: 0x;

}
h1{
    text-align:center;
    font-size: 200px;
    color: rgb(172, 214, 202);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}