body {
    background-color: #ffffff;
    animation: mymove 5s infinite;
}
    @keyframes mymove {
        from {background-color:#ffffff;}
        to {background-color: #000000;}
}
h1{
    text-align:center;
    font-size: 200px;
    color: rgb(172, 214, 202);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}